@import "tailwindcss";

@theme {
  --color-brand-dark: #3A445D;
  --color-brand-blue: #8AC4FF;
  --color-brand-mint: #21D19F;
  --color-brand-gray-light: #F9FAFB;
  --color-brand-gray-medium: #E5E7EB;
  --color-brand-gray-dark: #374151;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
